<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Base{% endblock %} | Twitoff</title>

        <meta charset="UTF-8">
        <meta name="description" content="Twitoff - {% block desc %}Base Template{% endblock %}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap">
    </head>

    <body>
        <div id="header">
            <a href="https://apathyhill.com">
                <div id="banner"><img id="logo" src="{{ url_for('static', filename='img/header/logo.png')}}"/></div>
            </a>
        </div>
        <div id="body2">
            {% block content %}
                <h1> {{h1}} </h1>
                <p> This is a template page. You should not be able to see this under normal circumstances.</p>
            {% endblock %}
        </div>
    </body>
</html>