{% extends "base.html" %}
{% block title %} {{screen_name}} Tweets {% endblock %}
{% block content %} 
    <h1> Twitoff: User Profile </h1>
    <div id="twitoff-user-info">
        <a href="https://twitter.com/{{screen_name}}">
            <img src={{pfp_url}}><h2> Tweets from: @{{screen_name}} </h2>
        </a>
    </div>
    {% for tweet in tweets %}
        <a href="https://twitter.com/{{screen_name}}/status/{{tweet[1]}}">
            <p class="twitoff-user-tweet" style="border-left-color: #{{user_color}}">{{ tweet[0] }}</p>
        </a>
    {% endfor %}
{% endblock %}